.sidebar-main{
    background-color: #e1d9cf;
    height: 100vh;
}
.sidebar-div{
    display: grid;
    grid-template-columns: 1fr;
    text-align: left;
    padding-top: 30px;
    padding-left: 30%;
}

.sidebar-link{
    color: #2f2f2d;
    padding: 10px;
    
    
}
.sidebar-link:hover{
    text-decoration: none;
    border: 1px solid #2f2f2d;
    padding: 10px;
    color: #2f2f2d;

}


@media (max-width: 575.98px) { 
    .sidebar-main{
        height: 200px;
        margin-bottom: 20px;
    }
    .sidebar-div{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-top: 30px; 
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    .sidebar-main{
        height: 200px;
        margin-bottom: 20px;
    }
    .sidebar-div{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-top: 30px; 
    }
 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    .sidebar-main{
        height: 200px;
        margin-bottom: 20px;
    }
    .sidebar-div{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        padding-top: 30px; 
    }
 }

